.quiz {
    font-size: 18px;
    width: 100%;
    height: 100vh;
    background-color: rgb(177, 175, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.question-header {
    margin: 0 30px 0 30px;
}

.question-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.question {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.quest {
    cursor: pointer;
    margin: 10px;
    font-weight: 600;
    width: 80%;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    background: #14b45c;
    border: 1px solid #089246;
    border-radius: 10px;
    transition: all .1s;
}

.quest:hover {
    background: #06a14c;
}

.quest:active {
    background: #58c287;
}

.finish {
    cursor: pointer;
    margin: 10px;
    font-weight: 600;
    width: 80%;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    background: #1431b4;
    border: 1px solid #089246;
    border-radius: 10px;
    transition: all .1s;
}

.finish:hover {
    background: #091b69;
}

.finish:active {
    background: #2843bd;
}